<div class="user-details">
  <mat-list>
    <mat-list-item class="u-text-align">
      <span class="mat-headline-medium">Detalhes do Usuário:</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">
      <span class="mat-headline-medium">Nome: </span
      ><span class="mat-headline-small">Fulano da Silva</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-headline-medium">Email: </span>
      <span class="mat-headline-small">joao.silva&#64;example.com</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-headline-medium">Telefone: </span>
      <span class="mat-headline-small">(11) 91234-5678</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-headline-medium">Endereço: </span>
      <span class="mat-headline-small">Rua das Flores, 42, São Paulo - SP</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-headline-medium">Ativo: </span>
      <span class="mat-headline-small">Sim</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-headline-medium">Função: </span>
      <span class="mat-headline-small">Desenvolvedor</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-headline-medium">Data de Cadastro: </span>
      <span class="mat-headline-small">20/08/2023</span>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</div>
